.small, .number {
	text-align:center;
	line-height:42px;
	font-family:Roboto;
}

.small {
	font-size: 22px;
}

.number {
	font-size:96px;
	font-weight:900;
}

.cont
{       
    width:100%;        // +1 to @RonM
    position: absolute;
    text-align: center;
    padding-top:42%;
    -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; /*IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); /*IE6, IE7*/
    transform: translateY(-50%);    
}
